<p> Step 1</p>
<p>It's time to d
ive into something very common in modern day applications and thats 'partials'. Now, partials are a structured way to organize code, and allow you to include partial_views into other views. </p>